body {
  background: #eef2f3;
  font-family: Arial;
}

.container {
  width: 60%;
  background: white;
  padding: 20px;
  margin: auto;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

.question {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: #28a745;
  border: none;
  color: white;
  border-radius: 5px;
}
