body {
  background: #e8f0fe;
  font-family: Arial;
}

.container {
  width: 60%;
  background: white;
  padding: 20px;
  margin: auto;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

.correct { color: green; }
.wrong { color: red; }
