body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

.container {
  width: 50%;
  background: white;
  padding: 20px;
  margin: auto;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
}
button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
}
button:hover {
  background: #0056b3;
}
